@import "tailwindcss";

@theme {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;

  --color-soft-blue: hsl(231 69% 60%);
  --color-soft-red: hsl(0 94% 66%);
  --color-grayish-blue: hsl(229 8% 60%);
  --color-very-dark-blue: hsl(229 31% 21%);

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1440px;

  --background-image-dots: url("../images/bg-dots.svg");
}

@layer components {
  @media (min-width: 1020px) {
    .bg-hero {
      @apply absolute w-[2000px] h-[300px] left-[30%] top-52 rounded-l-full bg-soft-blue;
    }
    .bg-tabs {
      @apply absolute w-[2000px] h-[300px] right-[60%] top-60 rounded-r-full bg-soft-blue;
    }
  }
}
